/*

!.*

.CFUserTextEncoding
.DS_Store
.MacOSX/
.Trash/
.Xauthority
.bash_history
.dropbox/
.dvdcss/
.fontconfig/
.fonts/
.gitconfig
.gvimrc
.links/
.matlab/
.mcplayeredit/
.mysql_history
.plex/
.ssh/
.viminfo
