[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/localvimrc"]
	path = .vim/bundle/localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule ".vim/bundle/Rainbow-Parenthsis-Bundle"]
	path = .vim/bundle/Rainbow-Parenthsis-Bundle
	url = https://github.com/autre/Rainbow-Parenthsis-Bundle.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "/Users/thomas/.oh-my-zsh"]
	path = /Users/thomas/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
