/*

!.*

.CFUserTextEncoding
.DS_Store
.MacOSX/
.Trash/
.Xauthority
.bash_history
.dropbox/
.dvdcss/
.fontconfig/
.fonts/
.gvimrc
.links/
.matlab/
.mcplayeredit/
.mysql_history
.plex/
.ssh/
.viminfo
.agency9/
.config/
.cups/
.dia/
.eaglerc
.gem/
.inkscape-etc/
.irb_history
.java.policy
.lesshst
.lilypond-fonts.cache-2/
.mono/
.serverauth.20196
.serverauth.2400
.serverauth.322
.serverauth.348
.serverauth.35204
.serverauth.35415
.sqlite_history
.cpan/
.dropbox-api-config
.w3m/
.zcompdump
.zsh-update
.zsh_history
.zshrc.orig
.calibre_calibre GUI.lock
.wakeonlan/
.profile
.keychain
.local/
.ncftp/
.viminfo.tmp
.vim/.netrwhist
.vimgolf
.unison
.gnupg
.htoprc
